.contact {
    overflow: hidden;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    padding: 2%;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
}

.contactForm {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactInputGroup{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.contactEmailGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactInputGroup textarea{
    height: 120px;
}

.contactInputLabel{
    text-align: left;
}

.contactInputField{
    height: 30px;
}

.contactInputSubmit{
    font-family: "Nunito";
    background-color: white;
    font-size: 1rem;
    color: #212121;
    display: table;
    text-align: center;
    margin: 40px auto 0;
    padding: 3px 5px;
    border: 1px solid #212121;
    border-radius: .25rem;
}

@media screen and (min-width: 768px) {
    .contactEmailGroup{
        width: 61%;
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px) {
    .titles {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 2000px) {
    .contact {
        padding: 1%;
    }

    .contactInputGroup{
        width: 50%;
        margin: 0.5%;
    }

    .contactEmailGroup{
        width: 50.5%;
    }
}