.footer {
    display: block;
    text-align: center;
    color: #777;
    background-color: #282828;
    width: 100%;
    padding: 0;
}

.footerText{
    padding: 10px;
    margin: 0;
    font-size: 0.8rem;
}

.svg{
    size: 10px;
}

@media screen and (min-width: 1000px) {
    .footer {
        width: calc(100% - 150px);
        right: 0;
        margin-left: auto;
    }
}