.mapContainer {
    width: 500px;
    height: 500px;
    position: relative;
}

.mapPointerContainer {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.mapPointer {
    position: absolute;
    right: 150px;
    bottom: 90px;
}

.mapPointerContainer p{
    position: absolute;
    right: 135px;
    bottom: 100px;
}