.navbarButton{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 4rem;
    height: 4rem;
    z-index: 100;
    background-color: rgba(0,0,0,.3);
    color: white;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlayClosed {
    height: 0;
}

.overlayContent {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.overlay ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
}

.overlay a {
    padding: 8px;
    font-size: 28px;
    /*color: #818181;*/
    display: block;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: "Lato";
    white-space: nowrap;
}

.overlay a:hover{
    color: rgba(255, 255, 255, 0.90);
}

.overlay a:focus {
    color: #f1f1f1;
}

.overlay .home{
    flex: 2 2;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

.home a {
    justify-content: flex-end;
    padding: 10%;
}

.overlay .navigation{
    flex: 3 3;
    justify-content: flex-start;
}

.overlay .social{
    flex: 1 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.overlay li {
    text-align: center;
}

.closeButton {
    font-size: 60px;
}

@media screen and (min-width: 1000px) {
    .navbarButton {
        display: none;
    }
    .overlay{
        display: none;
    }
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closeButton {
        font-size: 40px;
        top: 10px;
        right: 35px;
    }
}