.navbar {
    align-items: center;
    width: 150px;
    height: 100%;
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    z-index: 100;
    transition:all .3s ease;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.navbarScrolled {
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0;
    background-color: white;
    color: #282828;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
}

.navbar a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
    font-family: "Lato";
    white-space: nowrap;
}

.navbarScrolled a {
    color: #282828;
}

.navbar a:hover {
    color: rgba(255, 255, 255, 0.90);
}

.navbarScrolled a:hover {
    color: #383838;
}

.navbar .logo{
    padding: 50px 0;
    justify-content: center;
}

.navbar .logo a{
    flex: 1 1;
    font-family: "Lato";
    font-size: 1.1em;
}

.navbar .navigation{
    flex: 5 5;
    justify-content: center;
}

.navbar .social{
    flex: 1 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
}

.social li {
    text-align: center;
}

@media screen and (max-width: 999px) {
    .navbar {
        display: none;
    }
}