.aboutMeContainer {
    background-color: white;
    padding: 3%;
    max-width: 100%;
}

.aboutMeContainer h2 {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 2%;
    opacity: 0;
    animation: opacityEffect 1s ease-out 0.2s forwards;
}

.aboutMe {
    overflow: hidden;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
}

.aboutMeImage {
    flex: 4 4 200px;
    text-align: center;
    opacity: 0;
    animation: opacityEffect 0.5s ease-out 0.5s forwards;
}

.aboutMeText {
    flex: 6 6 400px;
    padding: 2% 2% 2% 10%;
    opacity: 0;
    animation: opacityEffect 1.5s ease-out 0.2s forwards;
}

.aboutMeText p:first-of-type {
    text-indent: 30px;
}

.aboutMeContainer a {
    color: #212121;
    display: table;
    text-align: center;
    margin: 40px auto 0;
    padding: 3px 5px;
    border: 1px solid #212121;
    border-radius: .25rem;
    opacity: 0;
    animation: opacityEffect 1.5s ease-out 0.5s forwards;
}

.img {
    height: 220px;
    width: 220px;
}

@keyframes opacityEffect {
    100%{
        opacity: 1;
    }
}

@media screen and (min-width: 1000px) {
    .aboutMeImage {
        text-align: left;
    }
}

@media screen and (min-width: 2000px) {
    .aboutMeImage {
        flex: 5 5;
    }
    .aboutMeText {
        flex: 5 5;
        padding-left: 20%;
    }
}

@media screen and (min-width: 3000px) {
    .aboutMeText {
        padding-left: 30%;
    }
}