.contactContainer {
    background-color: white;
    padding: 3% 3% 1%;
    max-width: 100%;
}

.contactContainer h2 {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 2%;
    opacity: 0;
    animation: opacityEffect 1s ease-out 0.2s forwards;
}

.contactContainer p {
    opacity: 0;
    animation: opacityEffect 1s ease-out 0.5s forwards;
}

.contactContainer form{
    opacity: 0;
    animation: opacityEffect 1s ease-out 1s forwards;
}

.contactContainer a {
    color: #212121;
    display: table;
    text-align: center;
    margin: 40px auto 0;
    padding: 3px 5px;
    border: 1px solid #212121;
    border-radius: .25rem;
    opacity: 0;
    animation: opacityEffect 1.5s ease-out 0.5s forwards;
}

.contactContainer p {
    text-align: center;
}

@keyframes opacityEffect {
    100%{
        opacity: 1;
    }
}