.experienceContainer {
    background-color: #212121;
    color: white;
    padding: 5%;
    max-width: 100%;
}

.experienceContainer h2 {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 2%;
    opacity: 0;
    animation: opacityEffect 1s ease-out 0.2s forwards;
}

.experience {
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.experience h3 {
    margin: 10px 0 0;
    opacity: 0;
    animation: opacityEffect 1s ease-out 0.5s forwards;
}

.experience li{
    opacity: 0;
    animation: opacityEffect 1s ease-out 1s forwards;
}

.experience p {
    margin-top: 0;
    flex: 5 5 300px;
    margin-block-end: 5px;
    opacity: 0;
    animation: opacityEffect 1s ease-out 0.8s forwards;
}

.experienceContainer a {
    color: white;
    display: table;
    text-align: center;
    margin: 40px auto 0;
    padding: 3px 5px;
    border: 1px solid white;
    border-radius: .25rem;
}

@keyframes opacityEffect {
    100%{
        opacity: 1;
    }
}

@media screen and (min-width: 768px) {
    .experienceRow {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .experience {
        flex: 0 1 32%;
    }
}

@media screen and (min-width: 1000px) {
    .experienceRow {
        justify-content: center;
    }
    .experience {
        margin-left: 3%;
        margin-right: 3%;
    }
}


@media screen and (min-width: 3000px) {
    .experience {
        margin-left: 0;
        margin-right: 0;
    }
}