.homeWrapper {
    position: relative;
    height: 100vh;
    width: 100%;
}

.titles {
    font-family: "Lato";
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50%, -50%);
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    bottom: 40px;
}

.titles h4{
    color: white;
    margin: 0;
}

.title {
    color: white;
    text-align: center;
    letter-spacing: 16px;
    display: block;
    position: relative;
    animation: titleText 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.welcomeTitle {
    opacity: 0;
    color: white;
    text-align: center;
    animation: welcomeTitleText 2s ease-out 1s forwards, subTitleTextOpacity 3s linear 0.5s forwards;
}

.subTitle {
    opacity: 0;
    color: white;
    text-align: center;
    animation: subTitleText 2s ease-out 1s forwards, subTitleTextOpacity 3s linear 0.5s forwards;
}

@keyframes welcomeTitleText {
    0%{
        transform: translateY(50px);
    }
}

@keyframes subTitleText {
    0%{
        transform: translateY(-50px);
    }
}

@keyframes subTitleTextOpacity {
    20%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.scrollDown {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(90deg);
}

.scrollBtn {
    border: none;
    background: none;
    -webkit-animation: flu 5s infinite;
    animation: flu 5s infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: bounceScroll;
    animation-name: bounceScroll;
}

@-webkit-keyframes bounceScroll {
    78%, 90%, 100% {-webkit-transform: translateX(0);}
    84% {-webkit-transform: translateX(-30px);}
    96% {-webkit-transform: translateX(-15px);}
}

@keyframes bounceScroll {
    78%, 90%, 100% {-webkit-transform: translateX(0);}
    84% {-webkit-transform: translateX(-30px);}
    96% {-webkit-transform: translateX(-15px);}
}

@keyframes opacityEffect {
    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 340px) {
    .scrollDown {
        display: none;
    }
}

@media screen and (max-height: 420px) {
    .titles {
        font-size: 1em;
    }

    .scrollDown {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .titles {
        font-size: 1em;
    }
}

@media screen and (min-width: 1200px) {
    .titles {
        font-size: 1.2em;
    }
}