.skillsContainer {
    background-color: #333333;
    color: white;
    padding: 3%;
    max-width: 100%;
}

.skillsContainer h2 {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 2%;
    opacity: 0;
    animation: opacityEffect 1s ease-out 0.2s forwards;
}

.skillsContainer a {
    color: white;
    display: table;
    text-align: center;
    margin: 40px auto 0;
    padding: 3px 5px;
    border: 1px solid white;
    border-radius: .25rem;
    opacity: 0;
    animation: opacityEffect 1.5s ease-out 1s forwards;
}

.skillsContainerText {
    color: white;
    display: table;
    text-align: center;
    padding: 50px 10% 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    animation: opacityEffect 1.5s ease-out 1s forwards;
}

.skills {
    position: relative;
    background-color: #333333;
    height: 200px;
    color: white;
    padding: 3%;
    max-width: 100%;
    font-size: 0.7rem;
}

.skill{
    position: absolute;
    margin: 0;
    padding: 3%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50%, -50%);
    transition: transform .5s ease;
    opacity: 0;
    white-space: nowrap;
}

.skill:hover{
    transform: translate(-50% , -50%) scale(1.2);
    -webkit-transform: translate(-50%, -50%) scale(1.2);
}

.skillJava{
    top: 48%;
    left: 50%;
    font-size: 4em;
    animation: opacityEffect 2s ease-out 0.5s forwards;
}

.skillDocker{
    top: 30%;
    left: 70%;
    font-size: 2em;
    animation: opacityEffect 4s ease-out 0.7s forwards;
}

.skillK8s{
    top: 65%;
    left: 30%;
    font-size: 2em;
    animation: opacityEffect 4s ease-out 0.7s forwards;
}

.skillLinux{
    top: 75%;
    left: 75%;
    font-size: 2em;
    animation: opacityEffect 3s ease-out 1s forwards;
}

.skillGIT{
    top: 10%;
    left: 10%;
    font-size: 1.5em;
    animation: opacityEffect 3s ease-out 1s forwards;
}

.skillTDD{
    top: 35%;
    left: 12%;
    font-size: 1em;
    animation: opacityEffect 4s ease-out 1.2s forwards;
}

.skillDDD{
    top: 90%;
    left: 90%;
    font-size: 1.2em;
    animation: opacityEffect 2s ease-out 1s forwards;
}

.skillCICD{
    top: 100%;
    left: 20%;
    font-size: 1em;
    animation: opacityEffect 4s ease-out 1.2s forwards;
}

.skillMongo{
    top: 75%;
    left: 10%;
    font-size: 1em;
    animation: opacityEffect 4s ease-out 1.2s forwards;
}

.skillKafka{
    top: 60%;
    left: 92%;
    font-size: 1.2em;
    animation: opacityEffect 3s linear 1s forwards;
}

.skillSQL{
    top: 10%;
    left: 90%;
    font-size: 1.2em;
    animation: opacityEffect 3s linear 1s forwards;
}

.skillHibernate{
    top: 20%;
    left: 30%;
    font-size: 1.5em;
    animation: opacityEffect 2s linear  0.9s forwards;
}

.skillSpring{
    top: 90%;
    left: 43%;
    font-size: 1.5em;
    animation: opacityEffect 3s linear 0.9s forwards;
}

.skillREST{
    top: 5%;
    left: 55%;
    font-size: 1.8em;
    animation: opacityEffect 3s linear 0.8s forwards;
}

.skillScripts{
    top: 100%;
    left: 70%;
    font-size: .8em;
    animation: opacityEffect 4s linear 1.2s forwards;
}

@keyframes opacityEffect {
    100%{
        opacity: 1;
    }
}

@media screen and (min-width: 1000px) {
    .skills{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.8rem;
    }
    .skillsContainerText{
        padding: 50px 15% 0;
    }
}

@media screen and (min-width: 2000px) {
    .skills{
        width: 60%;
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 3000px) {
    .skills{
        width: 50%;
        font-size: 1rem;
    }
}