.aboutMeContainer {
    background-color: white;
    padding: 3%;
    height: 100%;
    min-height: calc(100vh - 38px);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.aboutMeContainer h2 {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 2%;
}

.aboutMe {
    overflow: hidden;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.aboutMe h1 {
    text-align: left;
}

.aboutMeImages {
    flex: 5 5;
    text-align: center;
}

.aboutMeText {
    flex: 5 5;
    padding: 2% 10%;
}

.image {
    height: 300px;
    width: 200px;
}

@media screen and (min-width: 300px) {
    .image {
        height: 450px;
        width: 300px;
    }
}

@media screen and (min-width: 1000px) {
    .aboutMeImage {
        text-align: left;
    }
}

@media screen and (min-width: 1500px) {
    .aboutMeText {
        padding: 2% 15%;
    }
}

@media screen and (min-width: 2000px) {
    .aboutMeText {
        padding: 2% 20%;
    }
}

@media screen and (min-width: 2500px) {
    .aboutMeText {
        padding: 2% 25%;
    }
}

@media screen and (min-width: 3000px) {
    .aboutMeText {
        padding: 2% 30%;
    }
}