.contactContainer {
    background-color: white;
    padding: 3% 3% 1%;
    height: 100%;
    min-height: calc(100vh - 38px);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.contactContainer h1 {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 2%;
}

.contactContainer a {
    color: #212121;
    display: table;
    text-align: center;
    margin: 40px auto 0;
    padding: 3px 5px;
    border: 1px solid #212121;
    border-radius: .25rem;
}

.contactContainer p {
    text-align: center;
}

.mapContainer {
    width: 500px;
    height: 500px;
    position: relative;
}

.mapPointerContainer {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.mapPointer {
    position: absolute;
    right: 150px;
    bottom: 90px;
}

.mapPointerContainer p{
    position: absolute;
    right: 135px;
    bottom: 100px;
}

.contactList {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    margin: 50px auto;
}

.contactList div {
    text-align: center;
    margin: 10px;
}

.discordImg{
    height: 36px;
    width: 36px;
}

.contactList p {
    margin: 0;
}

@media screen and (min-width: 2000px) {
    .contactList {
        width: 50%;}
}

@media screen and (min-width: 2000px) {
    .contactList {
        width: 40%;}
}