@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

html, body {
  scroll-behavior:smooth;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #333;
  font-family: "Nunito";
}
a {
  color: #333;
  text-decoration: none;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.content {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .content {
    width: calc(100% - 150px);
    right: 0;
    margin-left: auto;
  }
}