.notFoundContainer {
    text-align: center;
    background-color: #333333;
    color: white;
    font-family: "Lato";
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 38px);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}


.notFound{
    left: calc(50% + 75px);
    top: 50%;
    max-width: 320px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
}

.notFound h1{
    font-size: 80px;
    font-weight: 200;
    margin: 0;
    text-transform: uppercase;
}

.notFound h2 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 5px;
    margin: auto;
}

.notFound a{
    color: white;
    display: table;
    text-align: center;
    margin: 10px auto 0;
    padding: 3px 5px;
    border: 1px solid white;
    border-radius: .25rem;
}

@media screen and (min-width: 520px) {
    .notFound{
        max-width: 520px;
    }

    .notFound h1{
        font-size: 150px;
    }

    .notFound h2 {
        font-size: 22px;
    }
}

@media screen and (min-width: 720px) {
    .notFound{
        max-width: 720px;
    }

    .notFound h1{
        font-size: 200px;
    }

    .notFound h2 {
        font-size: 28px;
    }
}