.skillsContainer {
    background-color: white;
    padding: 3%;
    height: 100%;
    min-height: calc(100vh - 38px);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.skillsContainer h2 {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 2%;
}

.skillsContainer p {
    font-size: 1.1rem;
    text-align: center;
}

.skills {
    overflow: hidden;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.skills h1 {
 text-align: left;
}

.skillsText {
    flex: 6 6;
    padding: 2% 15%;
}

.skillsText p {
    text-align: left;
    font-size: 1rem;
}

.chartContainer {
    flex: 4 4;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.chart{
    margin-bottom: 2em;
    font-size: 18px;
    display: block;
    max-width: 800px;
}

.chart footer {
    background-color: #cccccc;
    height: 2px;
}

.chartBar{
    height: 100%;
    background: #373737;
}

.experienceContainer {
    overflow: hidden;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.experience {
    padding: 40px;
    box-sizing: border-box;
    margin: 20px 5%;
    background-color: #f1f1f1;
    width: auto;
    height: auto;
}

.experience h3 {
    margin: 10px 0 0;
}

.experience p {
    margin-top: 0;
    flex: 5 5;
    margin-block-end: 5px;
}

@media screen and (min-width: 400px) {
    .experience {
        width: 400px;
        height: 150px;
    }
}

@media screen and (min-width: 1000px) {
    .skillsText {
        padding: 2% 5% 2% 10%;
    }
    .skills {
        flex-direction: row;
    }
    .chartContainer {
        padding-right: 5rem;
        width: 30%;
    }
}

@media screen and (min-width: 2000px) {
    .skillsText {
        flex: 5 5;
        padding: 2% 5% 2% 10%;
    }
    .chartContainer {
        flex: 5 5;
    }
}

@media screen and (min-width: 2500px) {
    .skillsText {
        padding: 2% 5% 2% 15%;
    }
}

@media screen and (min-width: 3000px) {
    .skillsText {
        flex: 4 4;
        padding: 2% 5% 2% 20%;
    }
    .chartContainer {
        flex: 6 6;
    }
}