.softwareContainer {
    text-align: center;
    font-family: "Lato";
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 38px);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}


.software{
    left: calc(50% + 75px);
    top: 50%;
    max-width: 320px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
}

.software h1{
    font-size: 80px;
    font-weight: 200;
    margin: 0;
}

.software h2 {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 5px;
    margin: auto;
}